In [2]:
#예제1
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [6]:
#예제2
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))

x = Gizmo()

Gizmo id: 135888438568112

In [7]:
y = Gizmo() * 10

Gizmo id: 135888438567872

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [8]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_2',
 '_4',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [9]:
#예제3
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles
lewis is charles

True

In [10]:
id(charles), id(lewis)

(135888438512960, 135888438512960)

In [11]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [12]:
#예제4
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [13]:
alex is charles

False

In [14]:
#예제5
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [15]:
id(t1[-1])

135888438953472

In [16]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 135888438953472)

In [17]:
t1 == t2

False

In [18]:
#예제6
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

l1.append(100)

l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [19]:
l2[1] += [33, 22]

l2[2] += (10, 11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [20]:
#예제7
class Bus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [21]:
#예제8
import copy

bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)

id(bus1), id(bus2), id(bus3)

(135888438574544, 135888438560576, 135888438572384)

In [22]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [23]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(135888428533376, 135888428533376, 135888439742528)

In [24]:
#예제9
a = [10,20]
b = [a,20]
a.append(b)
a

[10, 20, [[...], 20]]

In [25]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 20]]

In [26]:
#예제10
def f(a,b):
  a += b
  return a

In [27]:
a = [1,2]
b = [3,4]
f(a,b),(a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [28]:
x = 1
y = 2
f(x,y), (x,y)

(3, (1, 2))

In [29]:
t = (10,20)
u = (30,40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [30]:
#예제11
class HauntedBus:
  def __init__(self, passengers=[]):
    self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [31]:
#예제12
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [32]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [33]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [34]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [35]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [36]:
bus2.passengers is bus3.passengers

True

In [37]:
bus1.passengers

['Bill', 'Charlie']

In [38]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [39]:

HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [40]:
#예제13
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [41]:
#예제14
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [42]:
#예제15
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [43]:
#예제16
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [44]:
#예제17
import weakref

s1 = {1, 2, 3}
s2 = s1

def bye():
  print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [45]:
del s1
ender.alive

True

In [46]:
s2 = 'spam'

Gone with the wind...

In [47]:
ender.alive

False